
.signin
  display flex
  justify-content center
  align-items center
  form
    display flex
    flex-direction column
    margin 0
    margin-top -2em
    width 80%
    max-width 20em
    input
      padding .6em
      margin .4em
      font-size 1em
    h3
      margin 0
    h3, label, .error
      margin .1em .4em
    .new
      display none
      flex-direction column